{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/reset.css' %}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" href={% static 'css/index.css' %}>
    <title>まいぺーじ</title>
</head>
<body>

    {% if edit %}
        <div class="status">
            <div class="wrap">
                <div class="header">
                    <div class="title">ユーザー情報編集</div>
                    <form action={% url "mypage" %} method="POST">{% csrf_token %}
                        <input type="hidden" name="edit" value="back">
                        <input type="submit" id="edit" value="マイページ" class="to_home menu_text">
                    </form>
                    <a href={% url 'auth' %} class="to_home menu_text">ホームへ</a>
                </div>
            </div>
        </div>

        <form action={% url "mypage" %} method="POST">{% csrf_token %}

            <div class="outer">
                <div class="caption">user_id</div>
                <div class="data"><input value="{{user.user_id}}" name="user_id" readonly></div>
            </div>

            <hr width="70%">

            <div class="outer">
                <div class="caption">user_name</div>
                <div class="data"><input value="{{user.user_name}}" name="user_name"></div>
            </div>

            <hr width="70%">

            <div class="button_wrap">
                <div><input type="submit" id="edit" value="保存" class="save_button"></div>
            </div>
            
            <input type="hidden" name="edit" value="edit">
        </form>

    {% else %}

        <div class="status">
            <div class="wrap">
                <div class="header">
                    <div class="title">マイページ</div>
                    <form action={% url "mypage" %} method="POST">{% csrf_token %}
                        <input type="hidden" name="edit" value="transition">
                        <input type="submit" id="edit" value="編集" class="to_edit">
                    </form>
                    <a href={% url 'auth' %} class="to_home">ホームへ</a>
                    <a href={% url 'notice' %} class="to_home menu_text">通知</a>

                </div>
            </div>
        </div>

        <div class="home_discription">
            <p>「マイページだよ！」って感じのテキスト</p>
        </div>

        <div class="outer">
            <div class="caption">user_id</div>
            <div class="data">{{ user.user_id }}</div>
        </div>
        
        <hr width="70%">

        <div class="outer">
            <div class="caption">user_name</div>
            <div class="data">{{ user.user_name }}</div>
        </div>

        <hr width="70%">

        <div class="outer">
            <div class="caption">rank_point</div>
            <div class="data">{{ user.environment_score }}</div>
        </div>

        <hr width="70%">

    {% endif %}

    <p>随時追加</p>

    <footer>
        <div class="icon-bar">
            <a href={% url 'points' %}>
                <div class="icons parking" >
                    <span class="material-symbols-outlined md-48"> local_parking </span>
                </div>
            </a>
            <a href={% url 'auth' %}>
                <div class="icons map">
                    <span class="material-symbols-outlined md-48"> location_on </span>
                </div>
            </a>
            <a href={% url 'notice' %}>
                <div class="icons chat">
                    <span class="material-symbols-outlined md-48"> chat </span>
                </div>
            </a>
            <a href={% url 'mypage' %}>
                <div class="icons person">
                    <span class="material-symbols-outlined md-48"> person </span>
                </div>
            </a>
        </div>
      </footer>


</body>
</html>