{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/reset.css' %}>
    <link rel="stylesheet" href={% static 'css/mypage.css' %}>
    <title>Document</title>
</head>
<body>

    {% if edit %}
        <p>編集する</p>
        <form action={% url "mypage" %} method="POST">{% csrf_token %}
            <p>編集ボタン</p>
            <p>user_id</p>
            <input value="{{user.user_id}}" name="user_id" readonly>
            <p>user_name</p>
            <input value="{{user.user_name}}" name="user_name">
            <input type="hidden" name="edit" value="edit">
            <input type="submit" id="edit">
        </form>

    {% else %}

        <div class="status">
            <div class="wrap">
                <div class="header">
                    <div class="title">マイページ</div>
                    <form action={% url "mypage" %} method="POST">{% csrf_token %}
                        <input type="hidden" name="edit" value="transition">
                        <input type="submit" id="edit" value="編集" class="to_edit">
                    </form>
                    <a href={% url 'auth' %} class="to_home">ホームへ</a>
                </div>
            </div>

            <div class="outer">
                <div class="caption">user_id</div>
                <div class="data">{{ user.user_id }}</div>
            </div>
            
            <hr width="70%">

            <div class="outer">
                <div class="caption">user_name</div>
                <div class="data">{{ user.user_name }}</div>
            </div>

            <hr width="70%">

            <div class="outer">
                <div class="caption">rank_point</div>
                <div class="data">{{ user.environment_score }}</div>
            </div>

            <hr width="70%">

        </div>
    {% endif %}

</body>
</html>