<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <title>Document</title>
</head>
<body>
    <p>ログイン？</p>
    <a href="{% url "auth" %}">ログインはこちら。</a>

    {% if error %}
        <h3>その user_id は既に使われています。</h3>
    {% endif %}
    <form action={% url "signUp" %} method="POST">{% csrf_token %}
        <p>user_id を入力</p>
        <input type="text" name="user_id"><br>
        <p>パスワードを入力</p>
        <input type="text" name="password"><br>
        <input type="hidden" value="" id="line_id" name="line_id">
        <input type="submit">
    </form>

    {% load static %}
    <script src="{% static 'js/signup.js' %}"></script>

</body>
</html>