.wrap {
    width: 100%;
    height: 8%;
    background-color: rgb(70, 70, 136);
    /* position: fixed; */
    margin: auto;
}

.header {
    width: 90%;
    display: inline-flex;
    align-items: center;
    padding: 2%;
}

.title {
    margin-right: auto;
    font-size: large;
    color: white;
}

.to_edit, .save_button{
	appearance: none;
	border: none;
    color: white;
    background-color: rgb(70, 70, 136);
    font-size: medium; 
}

.to_home {
    margin-left: 1%;
    text-decoration: none;
    color: white;
    font-size: medium;
}

.outer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2%;
}

.caption {
    width: 30%;
    margin-left: 15%;
    text-align: center;
    color: rgb(70, 70, 136);
    font-size: large;
}

.data {
    width: 40%;
    margin-right: 15%;
    text-align: left;
    font-size: medium;
}

.button_wrap {
    padding-left: 45%;
}

.save_button {
    padding: 0.5rem 3rem;
}

hr {
    margin-left: 15%;
}